body {
  font-family: Rubik, "Avenir Next", sans-serif;
  color: rgb(87, 87, 87);
  background-color: #F0F2F4;
}
.body-wrap {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  height: 100%;
  /* border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; */
  background: #fff;
}
h1, h2, h3 {
  color: black;
}

a {
  color: #65acef;
}

/* 공통 card css */
.card {
  padding: 16px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-deck {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  padding: 0;
  padding-top: 16px;
}

.card-title {
  margin-bottom: 4px;
}

.card-footer {
  padding: 0;
  border: none;
  background: none;
}

.main-title {
  margin: 0 0 16px 8px;
}

/* header css */
header {
  position: fixed;
  z-index: 999;
}

.header-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  /* background: red; */
}

/* hamburger menu css */
.hamburger {
  /* position: absolute; */
  /* left: 24px; */
  width: 54px;
  height: 54px;
  /* background: red; */
}

.hamburger input[type="checkbox"] {
  display: none;
}

.hamburger label {
  /* margin-left: 8px; */
  cursor: pointer;
}

.hamburger label span {
  display: block;
  width: 20px;
  height: 1px;
  margin: 4px auto;
  border-radius: 10px;
  background-color: #222;
  transition: ease-in-out 0.3s;
}

.hamburger span:nth-child(1) {
  margin-top: 22px;
}

/* .hamburger input[type="checkbox"]:checked + label span:nth-child(1) { */
.hamburger input[type="checkbox"]:checked + label .fir-span {
  transform: translateY(6px) rotate(45deg);
  transition: ease-in-out 0.3s;
}

.hamburger input[type="checkbox"]:checked + label .sec-span {
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.hamburger input[type="checkbox"]:checked + label .thi-span {
  transform: translateY(-4px) rotate(-45deg);
  transition: ease-in-out 0.3s;
}

.slide-menu {
  position: absolute;
  top: 54px;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  border-right: 1px solid #ddd;
  background-color: #fff;
  /* border-radius: 10px; */
  z-index: 3;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
  transition: ease-in-out 0.3s;
}

.slide-menu .fixed {
  position: fixed;
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-right: 1px solid #ddd;
  background-color: #fff;
  z-index: 999;
}

.slide-menu ul {
  height: 100%;
  margin: 0;
  margin-top: 32px;
  padding-left: 0;
  z-index: 3;
  /* transition: ease-in-out 0.3s; */
}

.slide-menu ul li {
  flex: 1 1 auto;
  /* height: 70px; */
  padding: 16px 0 16px 24px;
  font-size: 20px;
  text-align: left;
  /* line-height: 70px; */
  list-style: none;
  /* border-bottom: 1px solid #ddd; */
  cursor: pointer;
  /* transition: ease-in-out 0.3s; */
}

.slide-menu ul li:last-child {
  border: none;
}

.display-none {
  display: none;
}

.header-wrap .logo {
  width: 32px;
  height: 32px;
  cursor: pointer;
  /* background: yellow; */
}

.header-wrap .logo img {
  height: 100%;
  vertical-align: middle;
}

/* main css */
main {
  padding-top: 54px;
}

/* banner css */
.banner-wrap {
  width: 100%;
  max-width: 1024px;
  height: 450px;
  margin-bottom: 32px;
  padding: 32px;
  background-size: 100% !important;
  /* background: url('https://globetrender.com/wp-content/uploads/2020/05/Caribbean-beach.jpg'); */
  background: url('../src/components/App/assets/kstarlive-banner.png')
}

.banner-wrap .banner-content {
  width: 100%;
  height: 100%;
}

.banner-wrap .banner-content .banner-title {
  color: #fff;
}


/* list-group-item css */
.list-group-item {
  margin-top: 16px;
  padding: 0;
  list-style: none !important;
  border: none;
}

.list-group-item:nth-child(2) {
  margin-top: 0;
}

.list-group-item a {
  padding-right: 4px;
  font-size: 12px;
  color: #888;
}

/* buy, sell button */
.buy-button,
.sell-button {
  width: 100%;
  height: 48px;
  color: #888;
  border: 1px solid #ddd;
  border-radius: 25px;
  background-color: #fff;
}

.buy-button:hover {
  color: #fff;
  background-color: #F85657;
}

.buy-button:active {
  color: #fff;
  background-color:#d33535;
}

.sell-button:hover {
  color: #fff;
  background-color: #65acef;
}

.sell-button:active {
  color: #fff;
  background-color: #518ec6;
}

/* alert css */
.alert-warning {
  color: salmon;
  font-size: 13px;
  border: none;
  background: none;
}

/* text-muted css */
.text-muted {
  color: #ddd !important;
}

/* text-truncate css */
.text-truncate a {
  color: #888 !important;
  font-size: 12px;
}

.text-truncate a:hover {
  text-decoration: underline;
}